@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');


*{
    margin: 0px;
    padding:  0px;
    box-sizing: border-box;
  }
  
 .menu {
    display: none;
 }

 .showcase {
   position: absolute;
   right: 0;
   width: 100%;
   min-height: 100vh;
   background: black;
   padding: 100px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   z-index: 2;
 }

.showcase header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.websiteTitle {
  text-transform: uppercase;
  cursor: pointer;
  font-size: 24px;
}

.toggle {
  position: relative;
  width: 60px;
  height: 60px;
  /* background: black; */
  cursor: pointer;
}

/* .toggle.active {

} */

.showcase video{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}

@media(max-width: 991px){
  .showcase,
  .showcase header {
    padding: 40px;
  }
  .text h2 {
    font-size: 3em;
  }
}